html{
  height:100%;
  background: url("../img/background_1950.jpg") no-repeat left top;
  background-size:cover;
}
body{
  /*position:relative;*/
  width:100%;
  min-height: 100%;
  margin:0 auto 0 6.65%;
  padding-top:1px; /*to avoid margin collapsing*/
  background:rgba(0,0,0,0.16);
  background-size:cover;
  height:auto;
  overflow:hidden;
  font-family: 'HelveticaNeueCyr','HelveticaNeue',Arial, sans-serif;
  vertival-align:bottom;
  /*box-shadow:0 0 10px grey;*/
}
.slogan{
  display:inline-block;
  color:rgba(233,240,240,1);
  margin:2.9% auto auto 3.9%;
  font-size: 64px; /*CHANGE FOR MEDIA*/
  line-height:0;
  letter-spacing: 0.18em;
}
.slogan span:nth-of-type(1){
  font-size:1em;
  font-weight:500;
  letter-spacing: 0.2em;
  line-height: 0.75;
}
.slogan span:nth-of-type(1):before{
  display:inline-block;
  content: "";
  line-height:0.8;
  min-width: 0.46em;
}

.slogan span:nth-of-type(2){
  font-family: 'HelveticaNeueCyr Ultralight','HelveticaNeue Ultralight',Arial, sans-serif;
  font-size:1.44em;
  line-height: 0.68;
  font-weight:100;
  letter-spacing: 0.09em;
}

.slogan span:nth-of-type(3){
  font-family: 'HelveticaNeueCyr Ultralight','HelveticaNeue Ultralight',Arial, sans-serif;
  font-size:0.74em;
  line-height: 2.2;
  font-weight:100;
  letter-spacing: 0.09em;
}
.slogan span:nth-of-type(3):before{
  display:inline-block;
  content: "";
  line-height:0.8;
  min-width: 4.9em;
}

.moreInfo{
    position:absolute;
    width:auto;
    padding:0;
    margin:0;
    list-style:none;
    top: 6.15%;
    right: 1.7%;
}

section{
  position:absolute;
  left:50%;
  top:50%;
  /*border:1px solid white;*/
  transform:translate(-50%,-50%);
}

.inputArea{
  position:relative;
  text-align:center;
  font-family:'HelveticaNeueCyr Thin','HelveticaNeue Thin',Arial, sans-serif;
  font-size:35px; /*CHANGE FOR MEDIA*/

}
.inputArea label{
  display:inline-block;
  color:rgba( 255, 255, 255, 0.71 );
  letter-spacing:0.065em;
  text-shadow: 0.03em 0.05em 0px rgb( 0, 0, 0 );
  line-height: 1.8;
}

.inputWrap{
  position:relative;
  width:540px;  /*CHANGE FOR MEDIA*/
  height:140px; /*CHANGE FOR MEDIA*/
  background-color:rgba(142,146,146,0.2);
  text-align:left;
  font-size:1em;
}

.inputArea input[type="text"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  display:block;
  position:absolute;
  background-color:transparent;
  width:60%;
  border:none;
  font-size:1em;
  line-height:0.5;
  color: rgba( 255, 255, 255, 0.341 );
}
.inputArea input[type="text"][name="exchangeRate"]{
  font-family: 'HelveticaNeueCyr Ultralight','HelveticaNeue Ultralight',Arial, sans-serif;
  font-size: 2.5em;
  top:10%;
  left:5.2%;
  letter-spacing: 0.115em;
  outline: none;
}
.inputArea input[type="text"][name="exchangeRate"]:focus{
  background-color: rgba(255, 255, 255, 0.1);
}
.inputArea input[type="text"][name="currentExchangeRate"]{
  left: 7.25%;
  bottom: 8%;
  font-family: 'HelveticaNeueCyr Ultralight','HelveticaNeue Ultralight',Arial, sans-serif;
  font-size: 0.5em;
  letter-spacing: 0.09em;
}

.inputArea input[type="button"]{
  position:absolute;
  width: 21.5%;
  height: 78.6%;
  bottom: 9.2%;
  right: 3.5%;
  border-radius:5%;
  background-color:rgba(233,240,240,0.651);
  box-shadow: inset rgba(255, 255, 255, 0.4) 3px 3px 3px 1px, inset rgba(0, 0, 0, 0.3) -3px -3px 3px 1px;
  border:none;
  outline: none;
}
.inputArea input[type="button"]:hover{
  background-color:rgba(233,240,240,0.75);
  cursor:pointer;
}
.inputArea input[type="button"]:active{
  background-color:rgba(233,240,240,0.75);
  box-shadow: inset rgba(255, 255, 255, 0.4) 2px 2px 2px 1px, inset rgba(0, 0, 0, 0.3) -2px -2px 2px 1px;
  cursor:pointer;
}

.currencyChoice{
  position:absolute;
  /*border:1px solid white;*/
  text-align:center;
  width:70px;       /*CHANGE FOR MEDIA*/
  height:300px;     /*CHANGE FOR MEDIA*/
  font-size:0px;    /*CHANGE FOR MEDIA*/
  right:15px;       /*CHANGE FOR MEDIA*/
  top:42%;

}

.currencyChoice input[type="radio"]{
  visibility: hidden;
}

label[for="rrubles"] span{
  display:block;
  margin:0 auto;
  width:100%;
  height:25%;
  background:url('../img/rrubleButtonOff.png') no-repeat center;
}
label[for="euro"] span{
  display:block;
  margin:0 auto;
  width:100%;
  height:25%;
  background:url('../img/euroButtonOff.png') no-repeat center;
}
label[for="usd"] span{
  display:block;
  margin:0 auto;
  width:100%;
  height:25%;
  background:url('../img/usdButtonOn.png') no-repeat center;
}
