html{
  height:100%;
  background: url("../img/background_1950.jpg") no-repeat left top;
  background-size:cover;
}

body{
  width:100%;
  min-height: 100%;
  margin: 0 auto 0 0;
  padding-top:1px;/*to avoid margin collapsing*/
  background:rgba(0,0,0,0.16);
  background-size:cover;
  height:auto;
  overflow:hidden;
  font-family: 'Roboto','HelveticaNeueCyr','HelveticaNeue',Arial, sans-serif;
  vertival-align:bottom;
}

.slogan{
  display:inline-block;
  color:rgba(233,240,240,1);
  margin: 2.7% auto auto 2.8%;
  font-size: 52px;/*CHANGE FOR MEDIA*/
  line-height:0;
  letter-spacing: 0.18em;
}

.slogan span:nth-of-type(1){
  font-size:1em;
  font-weight:500;
  letter-spacing: 0.2em;
  line-height: 0.75;
}

.slogan span:nth-of-type(1):before{
  display:inline-block;
  content: "";
  line-height:0.75;
  min-width: 0.57em;
}

.slogan span:nth-of-type(2){
  font-size:1.44em;
  font-weight:100;
  letter-spacing: 0.045em;
  line-height: 0.68;
}

.slogan span:last-of-type{
  font-size:0.74em;
  font-weight:100;
  letter-spacing: 0.0505em;
  line-height:2.15;
}

.slogan span:nth-of-type(3):before{
  display:inline-block;
  content: "";
  line-height:2.15;
  min-width: 5em;
}

.more-info{
    position:absolute;
    width:3.5vw;
    text-align:center;
    padding:0;
    margin:0;
    list-style:none;
    top: 3%;
    right: 1.65vw;
}

.more-info a{
  display: inline-block;
  width: 55%;
  height:50%;
}

section{
  position:absolute;
  width:50%;
  height: 30%;
  left:50%;
  top: 50.3%;
  transform:translate(-50%,-50%);
}

.input-area{
  position:relative;
  width:100%;
  height:100%;
  text-align:center;
  font-family:'Roboto','HelveticaNeueCyr Thin','HelveticaNeue Thin',Arial, sans-serif;
  font-size:35px; /*CHANGE FOR MEDIA*/
}

.input-area label{
  display: inline;
  color:rgba( 255, 255, 255, 0.71 );
  /*letter-spacing:0.065em;*/
  text-shadow: 0.03em 0.05em 0px rgb( 0, 0, 0 );
  font-size: 0.77em;
  font-weight: 100;
  line-height: 2;
  letter-spacing: 0.090em;
}

.input-wrap{
  position:relative;
  margin:0 auto;
  width: 30.5vw;/*CHANGE FOR MEDIA*/
  height: 8vw;/*CHANGE FOR MEDIA*/
  background-color:rgba(142,146,146,0.2);
  text-align:left;
  font-size: 1em;
}

.input-area input[type="text"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  display:block;
  position:absolute;
  background-color:transparent;
  width:60%;
  border:none;
  font-size:1em;
  line-height: 1.2;
  color: rgba( 255, 255, 255, 0.341 );
}

.input-area input[type="text"][name="exchange-rate"]{
  font-family: 'Roboto','HelveticaNeueCyr Ultralight','HelveticaNeue Ultralight',Arial, sans-serif;
  font-size: 2.0em;
  top: 13%;
  left: 6.4%;
  letter-spacing: 0.115em;
  font-weight: 100;
  outline: none;
}

.input-area input[type="text"][name="exchange-rate"]:focus{
  background-color: rgba(255, 255, 255, 0.1);
}

.input-area input[type="text"][name="current-exchange-rate"]{
  left: 7.4%;
  bottom: 10.5%;
  font-family: 'Roboto','HelveticaNeueCyr Ultralight','HelveticaNeue Ultralight',Arial, sans-serif;
  font-size: 0.4em;
  letter-spacing: 0.09em;
}

.input-area input[type="button"]{
  position:absolute;
  width: 6.41vw;
  height: 6.1vw;
  bottom: 12%;
  right: 3.7%;
  /*border-radius:5%;*/
  background:url('../img/usd_checked.svg') rgba(233,240,240,0.651);
  background-size: 100% 100%;
  /*box-shadow: inset rgba(255, 255, 255, 0.4) 3px 3px 3px 1px, inset rgba(0, 0, 0, 0.3) -3px -3px 3px 1px;*/
  border:none;
  outline: none;
}

.input-area input[type="button"]:hover{
  background-color:rgba(233,240,240,0.75);
  cursor:pointer;
}

.input-area input[type="button"]:active{
  background-color:rgba(250,240,240,0.75);
  box-shadow: inset rgba(255, 255, 255, 0.4) 2px 2px 2px 1px, inset rgba(0, 0, 0, 0.3) -2px -2px 2px 1px;
  cursor:pointer;
}

.currency-choice{
  position:absolute;
  text-align:center;
  font-size:1em;/*CHANGE FOR MEDIA*/
  right: 1.65vw;/*CHANGE FOR MEDIA*/
  top: 35.05%;
  text-align: center;
}

.currency-choice input[type="radio"]{
  visibility: hidden;
}

label[for="rrubles"] span, label[for="euro"] span, label[for="usd"] span{
  display:block;
  /*border:3px solid rgba(233,240,240,0.65);*/
  border-radius: 50%;
  margin:0 auto;
  width: 3.5vw;
  height: 3.5vw;
  box-sizing: border-box;
}

/*SVG styling*/
ellipse{
  opacity:0.65;
  fill:none;
  stroke:#E9F0F0;
  stroke-miterlimit:10;
}

g{
  opacity:0.5;
}

path{
  fill:#FFFFFF;
}

input[type="radio"]:checked+span ellipse{
  opacity:0.65;
  fill:#E9F0F0;
}

input[type="radio"]:checked+span g{
  opacity:0.7;
}

input[type="radio"]:checked+span path{
  fill:#0B1010;;
}

footer{
  display:block;
  position:absolute;
  width:100%;
  min-height:200px;
  bottom:0;
}

.info-button-container{
  position:relative;
  width:50%;
  min-height:200px;
}

.info-button-container a {
  display:block;
  position:absolute;
  bottom: 10%;
  left: 4.2%;
  width: 2.7vw;
  height: 2.7vw;
  background: url('../img/ibutton.svg');
  background-size: 100% 100%;
}

.info-icon-class{
  position:absolute;
  top:0;
  left:70%;
  width:30%;
  height:100%;
  background:white;
  transition:left 1s ease;
}

.info-icon-class.hide{
  left:100%;
}
