/*All in all styles*/

body {
    background: url('../img/background.jpg') 65% 50%/cover no-repeat;
    font-family: 'Roboto';
}

/*Logo styling*/

.logo {
    color: rgb(233, 240, 240);
    color: rgba(233, 240, 240, 1);
    line-height: 1;
}
.logo-first-row {
    font-size: 50px;
    line-height: 0.8;
}
.logo-second-row {
    font-size: 80px;
    line-height: 0.7;
    font-weight: 200;
}
.logo-third-row {
    font-size: 40px;
    line-height: 0.9;
    font-weight: 100;
}

/*Special classes for svg background*/


/*Positioning styling*/


/*If we need to center a block element*/


/*style for the parent element*/

.relative {
    position: relative;
}

/*style for the target element*/

.vertical-centering {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.horizontal-centering {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.centering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Styling buttons for currency changing*/


/*Styling round buttons*/

.currency-button {
    border: none;
    border-radius: 50%;
    background: none;
    width: 45px;
    height: 45px;
    outline: none;
}
.stop-video-button {
    border: none;
    border-radius: 50%;
    background: url('../img/ibutton.svg') no-repeat;
    ;
    width: 35px;
    height: 35px;
    outline: none;
}

/*Styling buttons for the exact currencies*/

.currency-button.usd {
    background: url('../img/usd_unchecked.svg') no-repeat;
}
.currency-button.usd.active {
    background: url('../img/usd_checked.svg') no-repeat;
}
.currency-button.euro {
    background: url('../img/euro_unchecked.svg') no-repeat;
}
.currency-button.euro.active {
    background: url('../img/euro_checked.svg') no-repeat;
}
.currency-button.ruble {
    background: url('../img/ruble_unchecked.svg') no-repeat;
}
.currency-button.ruble.active {
    background: url('../img/ruble_checked.svg') no-repeat;
}
